{% extends "form_valid/base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h1>please login</h1>
      <form action="{% url 'form_valid:user_login'%}" method="post">
        {% csrf_token%}
        <label for="usernamae">Username</label>
        <input type="text" name="username" value="Enter usernamae">
        <label for='password'>password</label>
        <input type="text" name="password">
        <input type="submit" name="" value="Subit"> 
      </form>
  </div>
  
</div>


{% endblock%}
